﻿@model OFMMongo.Models.JsonData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.json.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.json.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.json.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.json.Subject)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listjson)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
